<div class="titles">
    <% if (currSite == 1) { %>
        <h1 class="header"><a href="/mein_kalender">Mein Kalender</a></h1>
        <b><h1 class="header"><a href="/team_kalender">Team Kalender</a></h1></b>
    <% }else if (currSite == 2){ %>
        <b><h1 class="header"><a href="/mein_kalender">Mein Kalender</a></h1></b>
        <h1 class="header"><a href="/team_kalender">Team Kalender</a></h1>
    <% } %>
</div>
    


