<div class="bar">
    <button type="submit">Login</button>
    <button type="submit" onclick="location.href='/settings'">Settings</button>
</div>

<div class="titles">   
    <% if (currSite == 1) { %>
        <p><a href="/mein_kalender" class="title">Mein Kalender</a></p>
        <b><p><a href="/team_kalender" class="title">Team Kalender</a></p></b>
    <% }else if (currSite == 2){ %>
        <b><p><a href="/mein_kalender" class="title">Mein Kalender</a></p></b>
        <p><a href="/team_kalender" class="title">Team Kalender</a></p>
    <% } %>
</div>

    


