<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/Images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="settings.css">
    <script src="controller.js"></script>
    <title>Settings</title>
</head>
<body id="body" class="content">
    <div class="nav">
        <% if (parent == 1){ %>
            <img class="arrow" id="arrow" src="/Images/arrow_back.png" alt="" onclick="location.href='/mein_kalender'">
        <% }else if (parent == 2) { %>
            <img class="arrow" id="arrow" src="/Images/arrow_back.png" alt="" onclick="location.href='/team_kalender'">
        <% } %>
         

        <h1 class="text titleR">Settings</h1>
    </div>
    <div class="mainContent" id="mainContent">
        <h1 class="text">Settings</h1>
        
        <!--User Settings-->
        <div class="separator">
            <div class="line linecol"></div>
                <h2 class="linecol">User Settings</h2>
            <div class="line linecol"></div>
        </div>

        <!--Team Settings-->
        <div class="separator">
            <div class="line linecol"></div>
                <h2 class="linecol">Team Settings</h2>
            <div class="line linecol"></div>
        </div>
        <button onclick="location.href='/sprint_verwaltung/abc/PI-01'" class="dateBtn">Termine verwalten <span style="font-size: 22px;">&rarr;</span></button>

    </div>
</body>
<script>
    setColors("light");
    var arrow = document.getElementById('arrow');
    arrow.classList.add('arrow-dark');
    arrow.classList.remove('arrow');
    
</script>
</html>
