.nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 80%;
    margin-left: 70px;
    margin-top: 50px;
}
.arrow{
    height: 30px;
    padding-top: 23px;
}
.arrow:hover{
    filter: brightness(0) contrast(100%) invert(50%) sepia(92%) saturate(1629%) hue-rotate(359deg) brightness(100%) contrast(109%);
}
.arrow-dark{
    filter: brightness(0) contrast(100%) invert(92%) sepia(8%) saturate(0%) hue-rotate(249deg) brightness(95%) contrast(84%);
    height: 30px;
    padding-top: 23px;
}
.arrow-dark:hover{
    filter: brightness(0) contrast(100%) invert(50%) sepia(92%) saturate(1629%) hue-rotate(359deg) brightness(100%) contrast(109%);
}