<div class="bar">
    <button class="text" type="submit" onclick="location.href='/logout'">Logout(<%= header.username %>)</button>
    <button class="text" type="submit" onclick="location.href='/settings'">Settings</button>
    <button class="text" onclick="location.href='/sprint_verwaltung/2022/PI-01'" class="dateBtn">Termine verwalten <span style="font-size: 22px;"></span></button>
</div>

<div class="head">
    <img src="/images/suva_logo.png" alt="" class="logo">
    <div class="titles">   
        <% if (header.currSite == 1) { %>
            <%# Team Kalender %>
            <p><a href="/mein_kalender" class="title text">Mein Kalender</a></p>
            <b><p><a href="/team_kalender" class="title text">Team Kalender</a></p></b>
        <% }else if (header.currSite == 2){ %>
            <%# Mein Kalender %>
            <b><p><a href="/mein_kalender" class="title text">Mein Kalender</a></p></b>
            <p><a href="/team_kalender" class="title text">Team Kalender</a></p>
        <% } %>
    </div>
</div>
