* {
  box-sizing: border-box;
}
.calendar{
  padding-left: 7%;
  padding-right:  7%;
  padding-top: 4%;
  padding-bottom: 4%;
}

ul {list-style-type: none;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: var(--suva-color-primary);
  text-align: center;
  user-select: none;
  border-radius: 8px;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: var(--background2);
  user-select: none;
}


.weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
  justify-content: space-around;
  cursor: pointer;
}



.days {
  padding: 10px 0;
  background: var(--background2);
  margin: 0;
  user-select: none;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 40px;
  text-align: center;
  font-size:20px;
  padding: 10px 0;
  cursor: pointer;
}

.days li .active {
  padding: 5px 7px;
  border-radius: 20px;
  background: var(--suva-color-primary);
  color: white !important
}

.days .abwesend {
  color: white;
  background: var(--suva-color-blue);
}

.days .halbAbwesend {
  color: white;
}

.days .halbAbwesend.gestrichelt1{
  background: repeating-linear-gradient( -45deg, var(--suva-color-blue), var(--suva-color-blue) 4px, var(--suva-color-blue-secondary) 4px, var(--suva-color-blue-secondary) 8px );
}

.days .halbAbwesend.gestrichelt2{
  background: repeating-linear-gradient( -45deg, var(--suva-color-blue-secondary), var(--suva-color-blue-secondary) 4px, var(--suva-color-blue) 4px, var(--suva-color-blue) 8px );
}

.borderTop{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.borderBottom{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}



.farbLegende li{
  font-size: 20px;
  color: var(--text);
}

.farbLegende li div{
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: var(--text);
  clip-path: polygon(5px 5px, 20px 5px, 20px 20px, 5px 20px);
}

.farbLegende li div div{
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  clip-path: polygon(6px 6px, 19px 6px, 19px 19px, 6px 19px);
}

.farbLegende li[primary] div div{
  background-color: var(--background2);
}

.farbLegende li[secondary] div div{
  background-color: var(--suva-color-primary);
}

.farbLegende li[tertiary] div div{
  background-color: var(--suva-color-secondary);
}

@media screen and (max-width: 900px) {
  .weekend{
    visibility: hidden;
    width: 0 !important;
    padding: 0;
  }
  .weekdays li, .days li {width: 19.04%;}
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 19.04%;}
}

@media screen and (max-width: 560px) {
  .weekdays li, .days li {width: 18.04%;}
  .days li .active {
    padding: 0px 4px;
    padding-top: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 17.2%;}
}
