.feiertagBar{
    display: grid;
    align-items: center;
    grid-template-columns: 40% 20% 10% 20% 10%;
    height: 80px;
}
.feiertagBar:hover{
    background-color: var(--team-hover);
} 
.feiertageButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.feiertagBar{
    border-radius: 8px;
    margin-left: 7%;
    margin-right: 7%;
}
.year-select{
    margin-left: 7%;
}
.feiertageButtons{
    margin-left: 7%;
    margin-right: 7%;
}
.mainContent{
    padding-top: 2%;
}
.feiertagBar:hover input{
    background-color: var(--team-hover);
}
.input{
    margin-top: 0 !important;
}
.textR{
    margin-left: 70px;
    text-align: center;
    line-height: 36px;
}
