.feiertagBar{
    display: grid;
    align-items: center;
    grid-template-columns: 40% 20% 10% 20% 10%;
    background-color: var(--team-hover);
    height: 80px;
}
.feiertagBar:hover{
    background-color: gray;
}
.mainContent{
    background-color: rgb(199, 199, 199);
}   
.feiertageButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}